/*
.*
!/bin/
!/etc/
!/ico/
!/src/
!/usr/
!/.gitattributes
!/.gitignore
!/Console.lnk
!/default.cmd
!/license.console
!/license.dejavu
!/license.mintty
!/license.wslbridge2
!/profiles.json
!/readme.md
!/register.cmd
!/Terminal.lnk
