/*
.*
!/bin/
!/etc/
!/ico/
!/lnk/
!/src/
!/usr/
!/.gitattributes
!/.gitignore
!/default.cmd
!/license.console
!/license.dejavu
!/license.mintty
!/license.wslbridge2
!/readme.md
!/register.cmd
!/register-wt.cmd
!/settings.json
